@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');


.quicksand-font {
    font-family: "Quicksand", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

/* Styles for the navigation bar */

.SCHOOL {
    color: rgba(17, 17, 17, 1);
    font-size: 2rem;
}

.logo {
    width: 62px;
    height: 62px;
}

.logo-school {
    display: flex;
    align-items: center;
    gap: 10px;
}

.list-item {
    list-style: none;
}

.anchor {
    text-decoration: none;

}

.list-items {
    display: flex;
    gap: 32px;
}

#home {
    color: rgba(254, 163, 1, 1);
    font-size: 1.25rem;
}

#about {
    color: rgba(1, 172, 253, 1);
    font-size: 1.25rem;
}

#facilities {
    color: rgba(5, 212, 223, 1);
    font-size: 1.25rem;
}

#admission {
    color: rgba(93, 88, 239, 1);
    font-size: 1.25rem;
}

.nav-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1160px;
    margin: 0 auto;
}

.btn-contact {
    background-color: rgba(254, 163, 1, 1);
    border-radius: 12px;
    padding: 10px;
    width: 197px;
    height: 50px;
    color: white;
    font-size: 1.25rem;
    font-weight: 600;
    border: none;
    cursor: pointer;
}

/* header section start */

.header-title {
    font-size: 3.5rem;
    font-weight: 700;
    color: rgba(17, 17, 17, 1);
}

.empowering {
    color: rgba(254, 163, 1, 1);
}

.towards-vision {
    color: rgba(1, 172, 253, 1);
}

.header-discription {
    font-size: 1.25rem;
    color: rgba(17, 17, 17, 1);
    margin-top: 24px;

}

.btn-header {
    border-radius: 12px;
    background: var(--Black, rgba(17, 17, 17, 1));
    font-size: 1.25rem;
    color: rgba(255, 255, 255, 1);
    font-weight: 700;
    padding: 10px 47px;
    margin-top: 24px;
    border: none;
    cursor: pointer;
}


.img-header {
    width: 100%;
}

.header {
    max-width: 1160px;
    margin: 0 auto;
    display: flex;
    gap: 50px;
    margin-top: 34px;
}


/* main section start */

.main {
    max-width: 1160px;
    margin: 0 auto;
    margin-top: 60px;

}


.main-standard-title {
    color: rgba(0, 0, 0, 1);
    font-weight: 700;
    font-size: 2.8rem;
    text-align: center;
    margin-bottom: 80px;
}

.card-title {
    font-size: 1.5rem;
    font-weight: 700;
    color: rgba(32, 32, 32, 1);
}

.card-discription {
    color: rgba(128, 128, 128, 1);
    font-size: 0.9rem;
}

.card-btn-one {
    background-color: none;
    color: rgba(100, 200, 255, 1);
    border: none;
}

.card-btn-two {
    background-color: none;
    color: rgba(240, 170, 0, 1);
    border: none;
}

.card-btn-three {
    background-color: none;
    color: rgba(135, 0, 255, 1);
    border: none;
}

.cards-container {
    display: flex;
    gap: 30px;
    margin-top: 80px;

}

.card-section {
    margin-top: 40px;
}

.card:hover {
    transform: scale(1.05);
    transition: transform 0.3s ease;
}

.card {
    text-align: center;
}


#card-one {
    border: 0.94px solid rgba(222, 245, 255, 1);
    border-radius: 18.86px;
    box-shadow: inset 0px 0px 28.29578971862793px 0.94px rgba(0, 0, 0, 0.05);
    background: linear-gradient(180.00deg, rgba(222, 245, 255, 1), rgba(255, 255, 255, 0) 40%), rgba(255, 255, 255, 1);
}

#card-two {
    border: 0.94px solid rgba(255, 244, 220, 1);
    border-radius: 18.86px;
    box-shadow: inset 0px 0px 28.29578971862793px 0.94px rgba(0, 0, 0, 0.05);
    background: linear-gradient(180.00deg, rgba(255, 244, 220, 1), rgba(255, 255, 255, 0) 40%), rgba(255, 255, 255, 1);
}

#card-three {
    border: 0.94px solid rgba(242, 232, 255, 1);
    border-radius: 18.86px;
    box-shadow: inset 0px 0px 28.29578971862793px 0.94px rgba(0, 0, 0, 0.05);
    background: linear-gradient(180.00deg, rgba(238, 225, 255, 1), rgba(255, 255, 255, 0) 40%), rgba(255, 255, 255, 1);
}


.card-section {
    background: url(../assets/bg.png);
    background-repeat: no-repeat;
    background-size: cover;
}


.slide-btn {
    text-align: center;
    margin-top: 80px;
}

.right-Next,
.left-Next {
    cursor: pointer;
}

/* story section start */



.story-title {
    font-size: 2.8rem;
    font-weight: 700;
    color: rgba(0, 0, 0, 1);
    text-align: center;
    margin-top: 60px;

}

.story-one {
    display: flex;
    flex-direction: column;
    gap: 0px;
    background-color: white;
}

.story-one-png {
    border-radius: 16px 16px 0px 0px;
    width: 100%;
}

.btn-story-one {
    border-radius: 47.93px;
    background: rgba(60, 216, 232, 1);
    border: none;
    padding: 14px 18px;
    color: white;
    font-size: 1rem;
    margin-top: -100px;
}


.story-one {
    max-width: 540px;
    border-radius: 16px;
    margin-top: 80px;
}


.story-one-title {
    font-size: 1.5rem;
    font-weight: 700;
}

.story-one-subtitle {
    color: rgba(102, 102, 102, 1);
    font-size: 1rem;
    font-weight: 500;
}

.story-one-text-div {
    padding-left: 38px;
}

.our-storyes {
    display: flex;
    gap: 20px;
}

.story-two-text-div {
    border-radius: 16px;
}

.story-two-png {
    border-radius: 16px 16px 0px 0px;

}

.story-two-btn {
    border-radius: 47.93px;
    background: rgba(149, 178, 38, 1);
    border: none;
    padding: 14px 18px;
    color: white;
    font-size: 1rem;
    margin-top: -100px;
}

.story-two-text-inside-div {
    padding-left: 38px;
}

.second-story-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}


.story-one-png {
    width: 100%;
}

#view-all {
    text-align: center;
}

.view-all-btn-div {
    text-align: center;
    margin-top: 80px;
    margin-bottom: 80px;
}

/* footer section */

.footer {
    background-color: rgba(1, 172, 253, 1);
    width: 100%;
    height: 100%;
    margin: 0 auto;
    display: flex;
    gap: 150px;
    align-items: center;
    justify-content: space-around;
}

.school-footer {
    font-size: 2.3rem;
    color: rgba(255, 255, 255, 1);
    font-weight: 700;
}

.footer-kid-logo {
    display: flex;
    gap: 10px;
    align-items: center;
}

.footer-logo {
    width: 82.9px;
    height: 81.65px;
}

.footer-text {
    color: rgba(255, 255, 255, 1);

    font-family: Quicksand;
    font-size: 1.25rem;
    font-weight: 400;
    line-height: 25px;
    letter-spacing: 0%;
    text-align: left;
}


.footer-left{
    max-width: 400px;
    margin-top: 124px;
}

.footer-anchor{
    text-decoration: none;
    color: rgba(255, 255, 255, 1);
    font-size: 1.25rem;
}
.footer-link{
    display: flex;
    flex-direction: column;
    gap: 24px;
    margin-top: 40px;
}


.Touch{
    font-size: 1.6rem;
    color: rgba(255, 255, 255, 1);
    font-weight: 700;
}

/* media queries for phone */
@media screen and (max-width: 576px) {
    .nav-bar {
        flex-direction: column;
    }

    .list-items {
        flex-direction: column;
        gap: 10px;
    }

    .btn-contact-container {
        display: none;
    }

    /* header section start */

    .header {
        flex-direction: column-reverse;
    }

    .header-text {
        text-align: center;
    }

    /* main section start */


    .main-standard-title {
        font-size: 1.6rem;
    }

    .cards-container {
        flex-direction: column;
    }

    .slide-btn {
        display: none;
    }

    .story-title {
        font-size: 1.6rem;
    }

    .our-storyes {
        flex-direction: column;
    }

    .second-story-container {
        grid-template-columns: repeat(2, 1fr);
    }

    .story-two-png {
        width: 173.27px;
        height: 105.39px;
    }

    .story-two-btn {
        width: 103.91px;
        height: 22.83px;
    }

    .story-discription {
        font-size: 0.8rem;
    }

    .first-story-container {
        display: none;
    }

    .footer{
        flex-direction: column;
        text-align: left;
        padding-left: 10px;
    }
    
}